* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  overflow: auto;
  background-color: black;
}
.background {
  background-image: url(images/Plan\ de\ travail\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1000px;
}
.imgbackground {
  size: 100%;
}
.nav-links {
  display: flex;
  justify-content: center;
  justify-items: center;
}
nav img {
  width: 300px;
  position: absolute;
}
nav ul li {
  list-style: none;
  font-family: "Montserrat", sans-serif;
}
ul {
  display: flex;
}
ul li {
  padding-top: 100px;
  padding-right: 50px;
  padding-left: 50px;
}

ul li a {
  color: white;
  text-decoration: none;
}
ul a:hover {
  color: red;
  transition: 1s all;
}
.list-2 a:hover {
  color: red;
  transition: 1s all;
}
h1 {
  color: white;
  text-align: center;
  margin-top: 250px;
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-size: 36px;
}
.video-ferrari {
  width: 100%;
  height: 1000px;
}
.racing {
  width: 100%;
  color: white;
  text-align: center;
}
/*--Footer--*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  margin: auto;
}
.fas {
  position: fixed;
  right: 0;
  bottom: 0;
  float: right;
  font-size: 50px;
  color: white;
  margin-right: 25px;
  margin-bottom: 10px;
}
.fas:hover {
  color: red;
  transition: 1s all;
}
.facebook {
  font-size: 32px;
  color: white;
  padding: 5px;
}
.instagram {
  font-size: 32px;
  color: white;
  padding: 5px;
}
.twitter {
  font-size: 32px;
  color: white;
  padding: 5px;
}
.youtube {
  font-size: 32px;
  color: white;
  padding: 5px;
}
.facebook:hover {
  color: red;
  transition: 1s all;
}
.instagram:hover {
  color: red;
  transition: 1s all;
}
.twitter:hover {
  color: red;
  transition: 1s all;
}
.youtube:hover {
  color: red;
  transition: 1s all;
}
.linked-in {
  color: white;
  text-decoration: none;
  font-size: medium;
}
.linked-in:hover {
  color: red;
  transition: 1s all;
}

.conteneur-1 {
  width: auto;
  height: 750px;
  display: flex;
}
.conteneurracing {
  width: auto;
  height: 1000px;
  background-image: url(images/racing-g39e6f39e3_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  align-self: center;
  background-position: center;
  border-radius: 10px;
  margin-top: 4px;
}
#racing {
  float: left;
}
.racing-info {
  font-family: "Montserrat", sans-serif;
  width: 50%;
  color: #6d071a;
  padding-left: 10px;
  margin-top: 125px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  float: left;
  border: rgba(245, 245, 220, 0.51) 2px solid;
  border-radius: 10px;
  margin-right: 10px;
  background-color: rgba(245, 245, 220, 0.51);
  opacity: 0.8;
}
.universe {
  width: auto;
  height: 1000px;
  background-image: url(images/oldtimer-g812c1acd7_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  opacity: 0.9;
  border-radius: 10px;
  margin-top: 4px;
}
.histoire-texte {
  font-family: "Montserrat", sans-serif;
  width: 50%;
  color: #6d071a;
  padding-left: 5px;
  margin-top: 225px;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  float: right;
  border: rgba(245, 245, 220, 0.51) 2px solid;
  border-radius: 10px;
  margin-right: 10px;
  background-color: rgba(245, 245, 220, 0.51);
}
.corporate {
  width: auto;
  height: 1000px;
  background-image: url(images/pexels-lex-ger-3642618.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;

  border-radius: 10px;
  margin-top: 4px;
}

.corporate-info {
  font-family: "Montserrat", sans-serif;
  width: 50%;
  color: #6d071a;
  padding-left: 10px;
  margin-top: 250px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  float: left;
  border: rgba(245, 245, 220, 0.51) 2px solid;
  border-radius: 10px;
  margin-right: 10px;
  background-color: rgba(245, 245, 220, 0.51);
  opacity: 0.9;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: black;
  }
  .background {
    background-image: url(images/Plan\ de\ travail\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: fit-content;
    height: 600px;
    background-position: center;
  }
  .imgbackground {
    size: auto;
  }
  .logo {
    align-self: center;
    width: 40%;
  }
  ul {
    height: 100vh;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  .nav-links {
    position: fixed;
    background: #c4151c;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  nav #menubar {
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    text-align: right;
  }
  ul {
    display: flex;
    flex-direction: column;
  }
  ul li {
    padding: 5px !important;
  }
  .nav-links ul {
    padding: 30px;
  }
  html,
  body {
    overflow-x: hidden;
  }
  ul li a:hover {
    font-size: 20px;
    color: white;
    transition: 1s all;
  }
  h1 {
    color: white;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 200px;
    font-family: "Dancing Script", cursive;
    font-weight: 400;
    font-size: 25px;
  }
  .video-ferrari {
    width: 100%;
    height: 500px;
  }
  .racing {
    width: 500px;
    color: white;
    text-align: center;
  }
  .conteneur-1 {
    width: fit-content;
    height: auto;
  }
  .conteneurracing {
    width: fit-content;
    height: auto;
    background-image: url(images/racing-g39e6f39e3_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
  }
  #racing {
    width: fit-content;
    height: 600px;
  }
  .racing-info {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 25px;
    height: auto;
    width: fit-content;
    color: #6d071a;
    padding-left: 10px;
    margin-top: 50px;
    margin-left: 10px;
    font-weight: 600;
    float: left;
    border: transparent 2px solid;
    border-radius: 10px;
    margin-right: 10px;
    background-color: rgba(245, 245, 220, 0.51);
    opacity: 0.8;
  }
  .universe {
    width: fit-content;
    height: 600px;
    background-image: url(images/oldtimer-g812c1acd7_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    opacity: 0.9;
    border-radius: 10px;
    margin-top: 4px;
  }
  .histoire-texte {
    font-family: "Montserrat", sans-serif;
    width: fit-content;
    color: #6d071a;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 600;
    margin-top:20px !important;
    margin-left: 10px !important;
    float: right;
    border: rgba(245, 245, 220, 0.51) 2px solid;
    border-radius: 10px;
    margin-right: 10px;
    background-color: rgba(245, 245, 220, 0.51);
  }
  .corporate {
    width: fit-content;
    height: 600px;
    background-image: url(images/pexels-lex-ger-3642618.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
    border-radius: 10px;
    margin-top: 4px;
  }

  .corporate-info {
    font-family: "Montserrat", sans-serif;
    width: auto;
    height: auto;
    color: #6d071a;
    padding-left: 10px;
    margin-top: 20px !important;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    float: left;
    border: rgba(245, 245, 220, 0.51) 2px solid;
    border-radius: 10px;
    margin-right: 10px;
    background-color: rgba(245, 245, 220, 0.51);
    opacity: 0.9;
  }
  /*--Footer--*/
  .footer {
    position: block;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin: auto;
    font-size: 16px;
  }
  .fas {
    position: fixed;
    right: 0;
    bottom: 0;
    float: right;
    font-size: 25px;
    color: white;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  .fas:hover {
    color: red;
    transition: 1s all;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    text-align: center;
    margin: auto;
  }
  .facebook {
    font-size: 20px;
    color: white;
    padding: 5px;
  }
  .instagram {
    font-size: 20px;
    color: white;
    padding: 5px;
  }
  .twitter {
    font-size: 20px;
    color: white;
    padding: 5px;
  }
  .youtube {
    font-size: 20px;
    color: white;
    padding: 5px;
  }
  .facebook:hover {
    color: red;
    transition: 1s all;
  }
  .instagram:hover {
    color: red;
    transition: 1s all;
  }
  .twitter:hover {
    color: red;
    transition: 1s all;
  }
  .youtube:hover {
    color: red;
    transition: 1s all;
  }
  .linked-in {
    color: white;
    text-decoration: none;
    font-size: medium;
  }
  .linked-in:hover {
    color: red;
    transition: 1s all;
  }
}
@media only screen and (min-width: 600px) {
  nav .fa {
    visibility: hidden;
  }
}
@media only screen and (min-width: 768px) {
  .logo {
    width: 120px;
    margin-top: 25px;
  }
}
@media only screen and (min-width: 1024px) {
  .logo {
    width: 240px;
    margin-top: 25px;
  }
  .footer {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 1440px) {
  .logo {
    width: 300px;
    margin-top: 30px;
  }
  .footer {
    margin-bottom: 10px;
  }
}
